@charset "UTF-8";

html{
    font-family: sans-serif;

}



body{
    font-family: arial, sans-serif;
   background: #ccc;
   margin:0px;
   }


a{
   color: rgb(104, 35, 35);
   padding: 10px;
   height: 10px;
   line-height: center;
   width: auto;
   text-decoration: none;
   font-variant: small-caps;	

}



.hero{

   background-image: url(../imagens/jc.png);
   height: 550px;
   background-position: right center ;
   background-size: cover ;
   border-top: 15px solid transparent;
   }

.p3 , .p10{
    background-color: rgb(235, 13, 13);
}

.p3_hebraico{
    background-color: rgb(240, 207, 59);
}

   #DivLateral{
    margin-right: 1%;
   
    border-width:2px;
    width:48%;
    height: 220px;
    
    float: left;
}
#DivA{
    margin-right: 1%;
  
    border-width:2px;
    width: 48%;
    height: 220px;
   background-color: red;
    float: left;
}
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
     zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

   .hero-content{color: white;
   text-align: center;
   margin-top: 150px;

   text-transform: uppercase;
                font-size: 40px;
                text-shadow: 3px 3px 5px #333;
                
   background-color: rgba(0,0,0,.1); 
   display: inline-block;
   padding: 1px;
   
   }

   
.hero nav li{
   display: inline-block;
   list-style: none;
   margin-left: 10px;
   border: 1px solid white;

}

.hero nav a:hover{
   background-color: #37a0a0;
}
.hero nav a{
     
      background: rgba(0,0,0,.2);
      display: block;
      padding: 10px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
}

.maiuscula{
   text-transform: uppercase;
}

h3{
   margin: 0;
   border-bottom: solid 5px #393535;

}

h4{
   text-align: center;
   text-transform: uppercase;
   border-bottom: solid 5px #393535;
   font-size: 18px;
}

.content-section{
   background-color: rgb(168, 158, 158);
   padding: 10px;
   margin-top: 15px;
   overflow: auto;
   
}

main{width: 90%;
   margin: auto;
}

.ref{
   background-color: black;
   color: white;
   padding: 10px;
   height: 10px;
   line-height: center;
   width: auto;
}

.rodape{ height: 40px;
   color: white;
   font-size: 14px;
   text-align: center;
   text-shadow: 2px 2px 2px black;
   background: #6b6c68;
   line-height: 40px;
   
}